:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--mat-sys-background);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.flex-spacer {
  flex-grow: 1;
}

p {
  font: var(--mat-sys-title-medium);
  color: white;
}
