@let ach = achievement();
@let imgUrl = ach.achievementImageUrl;

@if (!deviceService.isMobile()) {
  <section class="img" [class.no-img]="noImgTitle()">
    @if (imgUrl) {
      {{ imgUrl }}
    } @else {
      {{ noImgTitle() }}
    }
  </section>
}

<section class="body">
  <section>
    <div class="title">{{ ach.achievementName }}</div>

    <div class="description">{{ ach.achievementDescription }}</div>

    @if (ach.achievedAt) {
      <div class="extra">
        Feito em
        {{ ach.achievedAt | date: "dd 'de' MMM 'de' yyyy 'às' HH:mm" }}
      </div>
    }
  </section>

  <section class="icon">
    <mat-icon>emoji_events</mat-icon>
    @if (ach.progress && !deviceService.isMobile()) {
      <span class="completion">
        {{ ach.progress.quantity | number: '1.0-0' }} /
        {{ ach.progress.required | number: '1.0-0' }} ({{
          (ach.progress.quantity / ach.progress.required) * 100
            | number: '1.0-0'
        }}%)
      </span>
    }
  </section>

  @if (ach.progress) {
    <!--    {{ ach.progress.quantity | number: '1.0-0' }} /-->
    <!--    {{ ach.progress.required | number: '1.0-0' }}-->
    <mat-progress-bar
      class="full"
      mode="determinate"
      [value]="(ach.progress.quantity / ach.progress.required) * 100"
    />
  }
</section>
