<app-navbar />

<mat-form-field>
  <mat-label>Ano</mat-label>
  <mat-select [(ngModel)]="periodSelected">
    @for (period of periods(); track period.periodId) {
      <mat-option id="{{ period.periodId }}" [value]="period">
        {{ period.year }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>

{{ periodSelected() | json }}

@let achievements = achievements$ | async;

@if (achievements) {
  <mat-list>
    <div mat-subheader>Completo</div>

    @for (
      achievement of achievements.completed;
      track achievement.achievementId
    ) {
      <app-achievement-item [achievement]="achievement"></app-achievement-item>
    } @empty {
      <p>Nenhum troféu completo!</p>
    }
    <mat-divider />

    <div mat-subheader>Incompletos</div>

    @for (
      achievement of achievements.progress;
      track achievement.achievementId
    ) {
      <app-achievement-item [achievement]="achievement"></app-achievement-item>
    } @empty {
      <p>Nenhum troféu incompleto!</p>
    }
  </mat-list>
}
